.audioPlayer {
  --primary: #1D8DBA;
  --secondary: #03ECAE;

  align-items: center;
  display: flex;
  width: 100%;
}

.forwardBackward {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  font-family: Ubuntu;
  font-size: 16px;
  cursor: pointer;
}

.forwardBackward:hover {
  color: var(--primary);
}

.playPause {
  background: linear-gradient(47.72deg, #1D8DBA 0%, #03ECAE 100%);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 25px;
  color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items:center;
  margin-left: 30px;
  margin-right: 30px;
  box-shadow: 3px 3px 3px 3px rgba(3, 236, 174, 0.25);

}

.play {
  position: relative;
  left: 2px;
  color: #212B36;
}

.currentTime,
.duration {
  font-family: Ubuntu;
  font-size: 16px;
  margin-left: 10px
}

.currentTime {
  margin-left: 25px;
  margin-right: 10px;
}

.progressBar {
  --bar-bg: white;
  --seek-before-width: 0;
  --seek-before-color: #03ECAE;
  --knobby: #151B23;
  --selectedKnobby: #1D8DBA;

  appearance: none;
  background: var(--bar-bg);;
  border-radius: 10px;
  position: relative;
  width: 300px;
  height: 11px;
  outline: none;
  margin-right: 10px;
  
}

/* progress bar - safari */
.progressBar::-webkit-slider-runnable-track {
  background: var(--bar-bg);;
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 11px;
  outline: none;
}

/* progress bar - firefox */
.progressBar::-moz-range-track {
  background: var(--bar-bg);;
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 11px;
  outline: none;
}

.progressBar::-moz-focus-outer {
  border: 0;
}

/* progress bar - chrome and safari */
.progressBar::before {
  content: '';
  height: 11px;
  width: var(--seek-before-width);
  background-color: var(--seek-before-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

/* progress bar - firefox */
.progressBar::-moz-range-progress {
  background-color: var(--seek-before-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 11px;
}

/* knobby - chrome and safari */
.progressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: none;
  background-color: var(--knobby);
  cursor: pointer;
  position: relative;
  margin: -2px 0 0 0;
  z-index: 3;
  box-sizing: border-box;
}

/* knobby while dragging - chrome and safari */
.progressBar:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background: var(--selectedKnobby);
}

/* knobby - firefox */
.progressBar::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: transparent;
  background-color: var(--knobby);
  cursor: pointer;
  position: relative;
  z-index: 3;
  box-sizing: border-box;
}

/* knobby while dragging - firefox */
.progressBar:active::-moz-range-thumb {
  transform: scale(1.2);
  background: var(--selectedKnobby);
}

@media only screen and (max-width: 700px) {

  .progressBar {
    --bar-bg: white;
    --seek-before-width: 0;
    --seek-before-color: #03ECAE;
    --knobby: #151B23;
    --selectedKnobby: #1D8DBA;

    appearance: none;
    background: var(--bar-bg);;
    border-radius: 10px;
    position: relative;
    width: 200px;
    height: 11px;
    outline: none;
    margin-right: 10px;
    
  }
  .playPause {
    background: var(--primary);
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 10px;
    color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items:center;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 2px 2px 2px 2px rgba(3, 236, 174, 0.25);

  }
  .currentTime,
  .duration {
    font-family: Ubuntu;
    font-size: 16px;
    margin-left: 5px
  }

  .currentTime {
    margin-left: 25px;
    margin-right: 5px;
  }
}