@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
    height: 40.45px;
    width: 177.32px;
  }
.button-color {
    height: 52px;
    width: 363px;
    border-radius: 26px;
    background: linear-gradient(47.72deg, #1D8DBA 0%, #03ECAE 100%);
}
.shapes {
    height: 45px;
}
.rectangle {
height: 80px;
width: 960px;
box-shadow: 0 20px 40px 0 rgba(0,0,0,0.26);
background: 
-webkit-linear-gradient(42.5deg, transparent 8%, #151B23 1%),
-webkit-linear-gradient(25deg, transparent 0%, transparent 0%);
}
.bitmap {
height: 640px;
width: 1280px;
background-color: rgba(0,0,0,0.9);
}
.find-your-sound {
    height: 55px;
    width: 375px;
    color: #FFFFFF;
    font-family: Helvetica;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 42px;
}
.samplified-is-the-in {
    height: 141px;
    width: 520px;
    color: #FFFFFF;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 22px;
}
.fl-pic {
    height: 402.8px;
    width: 717.05px;
}
@media only screen and (max-width: 1250px) {
    .fl-pic {
        height: auto;
        width: 500.05px;
    }  
    .button-color {
        height: 52px;
        width: 200px;
        border-radius: 26px;
        background: linear-gradient(47.72deg, #1D8DBA 0%, #03ECAE 100%);
    }
}


.get-access {
    height: 19px;
    width: 170px;
    color: #FFFFFF;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
    text-align: center;
}

.feature {
    height: 35px;
    color: rgba(255,255,255,0.9);
    font-family: Helvetica;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 25px;
}
.text-box {
    height: 236.73px;
    width: 310px;
}
.boxes-text {
    height: 121px;
    color: rgba(255,255,255,0.9);
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 19px;
    text-align: center;
}
.sign-button {
    height: 34px;
    width: 120px;
    border-radius: 26px;
    background: linear-gradient(47.72deg, #1D8DBA 0%, #03ECAE 100%);
}
.diag {
    background: 
    -webkit-linear-gradient(95deg, #151B23, rgba(135, 60, 255, 0.0) 0%),
    -webkit-linear-gradient(95deg, #151B23 60%, transparent 0%);
}
@media only screen and (max-width: 700px) {
    .find-your-sound {
        color: #FFFFFF;
        font-family: Helvetica;
        font-size: 25px;
        font-weight: bold;
        letter-spacing: 0;
    }
    .samplified-is-the-in {
        width: fill;
        color: #FFFFFF;
        font-family: Helvetica;
        font-size: 15px;
        font-weight: 300;
        letter-spacing: 0;
        line-height: 22px;
    }
    .rectangle {
        height: 80px;
        width: fill;
        box-shadow: 0 20px 40px 0 rgba(0,0,0,0.26);
        background: transparent
    }
}
@media only screen and (max-width: 400px) {

}
.bg-sign {
    height: 992px;
    width: 574px;
}
.main-bg {
    height: 504px;
    width: 528px;
}
.lg-logo {
    height: 101.12px;
    width: 443.29px
}
.sign-in-to-samplified {
    height: 36px;
    width: 236px;
    color: #FFFFFF;
    font-family: Ubuntu;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 36px;
}
.details {
    height: 24px;
    width: 177px;
    color: #919EAB;
    font-family: Ubuntu;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
}
.google {
    box-sizing: border-box;
    height: 49px;
    width: 481px;
    border: 1px solid #919EAB;
    border-radius: 24px;
}

.or {
    height: 22px;
    width: 40px;
    color: #919EAB;
    font-family: Ubuntu;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
    text-align: center;
}
.divider-horizontal-solid-1 {
    box-sizing: border-box;
    height: 0px;
    width: 220px;
    border: 1px solid rgba(145,158,171,0.24);
}
.divider-horizontal-solid {
    box-sizing: border-box;
    height: 0px;
    width: 220px;
    border: 1px solid rgba(145,158,171,0.24);
}
.divider-horizontal-solid-1-2 {
    box-sizing: border-box;
    height: 0px;
    width: 130px;
    border: 1px solid rgba(145,158,171,0.24);
}
.divider-horizontal-solid-2 {
    box-sizing: border-box;
    height: 0px;
    width: 130px;
    border: 1px solid rgba(145,158,171,0.24);
}
.sign-input {
    height: 49px;
    width: 480px;
    background: transparent;
    border: 1px solid rgba(145,158,171,0.24);
    border-radius: 5px;
}
.sign-input-2 {
    height: 49px;
    width: 300px;
    background: transparent;
    border: 1px solid rgba(145,158,171,0.24);
    border-radius: 5px;
}
.forgot-password {
    height: 22px;
    width: 480px;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 22px;
}
.forgot-password-2 {
    height: 22px;
    width: 300px;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 22px;
}
.forgot {
    color: #1D8DBA;
}

.checkbox-label {
    height: 24px;
    width: 24px;  
}
.label {
    height: 18px;
    width: 75px;
  }
.label-text {
    height: 18px;
    width: 75px;
    color: #ffffff44;
    font-family: Ubuntu;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 18px;
}
.sign-in-button {
    height: 52px;
    width: 481px;
    border-radius: 26px;
    background: linear-gradient(47.72deg, #1D8DBA 0%, #03ECAE 100%);
}
.sign-in-button-2 {
    height: 52px;
    width: 300px;
    border-radius: 26px;
    background: linear-gradient(47.72deg, #1D8DBA 0%, #03ECAE 100%);
}
.upload-button {
    height: 52px;
    width: 200px;
    border-radius: 26px;
    background: linear-gradient(47.72deg, #1D8DBA 0%, #03ECAE 100%);
}
.profile-button {
    height: 35px;
    width: 200px;
    border-radius: 10px;
    background: linear-gradient(47.72deg, #1D8DBA 0%, #03ECAE 100%);
}